.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-icon {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-image: url(https://github.com/revou-fundamental-course/06-jan-25-fairuzzfm/blob/main/css/asset/logo.png?raw=true);
    background-size: cover;
}

nav {
    display: flex;
}

.left-rounded {
    border-radius: 12px 0 0 12px;
}

.right-rounded {
    border-radius: 0 12px 12px 0;
}

nav>a {
    border: 1px solid black;
    padding: 8px;
    color: black;
    text-decoration: none;
}

.banner-image {
    height: 600px;
    background-size: cover;
    background-position: center;
}

.banner-image-1 {
    background-image: url(https://github.com/revou-fundamental-course/06-jan-25-fairuzzfm/blob/main/css/asset/mylogo.png?raw=true);
}
.banner-image-2 {
    background-image: url(https://github.com/revou-fundamental-course/06-jan-25-fairuzzfm/blob/main/css/asset/Nasaok.jpg?raw=true);
}
.banner-image-3 {
    background-image: url(hhttps://github.com/revou-fundamental-course/06-jan-25-fairuzzfm/blob/main/css/asset/adel.png?raw=true);
}
.banner-image-4 {
    background-image: url(https://github.com/revou-fundamental-course/06-jan-25-fairuzzfm/blob/main/css/asset/RX7.png?raw=true);
}
.banner-image-5 {
    background-image: url(https://github.com/revou-fundamental-course/06-jan-25-fairuzzfm/blob/main/css/asset/RAPTOR.png?raw=true);
}
.home-page {
    display: flex;
    gap: 20px;
    padding: 20px;
}
.our-profile {
    /* display: flex;
    flex-direction: column; */
    background-color: #fff; 
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-top: 10px;
}

.portfolio {
    /* display: flex;
    flex-direction: column; */
    background-color: #fff; 
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-top: 10px;
}

footer {
    background-color: #fff; 
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    margin-top: 10px;
    text-align: center;
}
/* CSS YANG DIJALANKAN DIUKURAN LAYAR KURANG DARI 480PX */
@media only screen and (max-width: 480px) {
.main-header {
    flex-direction: column;
}
}
body { 
    font-family: 'Helvetica Neue', sans-serif, sans-serif; 
    margin: 0; 
    padding: 0; 
    background-color: #f4f4f4; 
}
.content {
    height: 500px;
}
.container { 
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    height: 100vh; 
} 
.form { 
    display: flex;
    flex-direction: column;
    background-color: #fff; 
    padding: 50px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    /* margin-right: 20px;  */
} 
.form input, .form textarea { 
    display: flex;
    flex-direction: column;
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
} 
.form button { 
    display: block; 
    width: 100%; 
    padding: 10px; 
    border: none; 
    background-color: #333; 
    color: white; 
    border-radius: 4px; 
    cursor: pointer; 
} 
.display { 
    display: flex;
    flex-direction: column;
    background-color: #fff; 
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 50%; 
}